In [1]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilename
Tk().withdraw()
filename = askopenfilename(title="Select a CSV file", filetypes=[("CSV Files", "*.csv")])
df = pd.read_csv(filename)
df.head()

   Hours_Studied  Attendance  Marks
0              2          70   40.0
1              3          75   50.0
2              4          80   60.0
3              5          90    NaN
4              6          66   90.0